.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 350px;
}

#category {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    overflow: hidden;
    z-index: 2;
}

#category li.on {
    background: #eee;
}

#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}

#category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
}

#category li .category_bg {
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}

#category li .oil {
    background-position: -10px -108px;
}

#category li .carpark {
    background-position: -10px -180px;
}

.placeinfo_wrap {
    position: absolute;
    bottom: 28px;
    left: -150px;
    width: 300px;
}

.placeinfo {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: #fff;
}

.placeinfo:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
    content: '';
    position: relative;
    margin-left: -12px;
    left: 50%;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
    color: #fff;
    text-decoration: none;
}

.placeinfo a,
.placeinfo span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.placeinfo span {
    margin: 5px 5px 0 5px;
    cursor: default;
    font-size: 13px;
}

.placeinfo .title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px;
    color: #fff;
    background: #d95050;
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
    color: #0f7833;
}

.placeinfo .jibun {
    color: #999;
    font-size: 11px;
    margin-top: 0;
}


.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 500px;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 327px;
    /* margin: 10px 0 30px 10px; */
    padding: 10px;
    overflow-y: auto;
    background: rgb(255, 253, 250);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
    border : 1px solid #c9c9c9;
}

.bg_white {
    background: #fff;
}

.bg_white::-webkit-scrollbar {
    width: 6px;
  }
.bg_white::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
  }
.bg_white::-webkit-scrollbar-track {
    background-color: #c9c9c9;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: left;
}

#menu_wrap .option p {
    margin: 10px 0;

}

#menu_wrap .option button {
    margin-left: 5px;
    border-width: 0px;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

#mapwrap {
    position: relative;
    overflow: hidden;
}

.category,
.category * {
    margin: 0;
    padding: 0;
    color: #000;
}

.category {
    position: absolute;
    overflow: hidden;
    top: 300px;
    right: 10px;
    width: 100px;
    height: 60px;
    z-index: 10;
    border: 1px solid black;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 10px;
    text-align: center;

    background-color: #fff;
}

.category .menu_selected {
    background: #FF5F4A;
    color: #fff;
    border-left: 0px solid #915B2F;
    border-right: 0px solid #915B2F;
}

.category li {
    list-style: none;
    float: left;
    width: -40px;
    height: 47px;
    padding-top: 10px;
    cursor: pointer;
}

.category .ico_comm {
    display: block;
    margin: 0 auto 5px;
    width: 50px;
    height: 20px;
}

.category .ico_store {
    background-position: -0px -36px;
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F7kvaq%2FbtrZ9FIvzp2%2FiVbRKzj70VmOgY2R9er7ok%2Fimg.png')no-repeat 10px -5px;
}

.category .ico_carpark {
    background-position: -0px -72px;
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FpKV0X%2FbtrZ78dmf7p%2FLMPguVHNKNifhvFeeEKvkK%2Fimg.png') no-repeat 7px -4px;
}


.category .ico_coffee {
    display: none
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
}

.custom_typecontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 130px;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 12px;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}

.custom_typecontrol span {
    display: block;
    width: 65px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.custom_typecontrol .btn {
    background: #fff;
    background: linear-gradient(#fff, #e6e6e6);
}

.custom_typecontrol .btn:hover {
    background: #f5f5f5;
    background: linear-gradient(#f5f5f5, #e3e3e3);
}

.custom_typecontrol .btn:active {
    background: #e6e6e6;
    background: linear-gradient(#e6e6e6, #fff);
}

.custom_typecontrol .selected_btn {
    color: #fff;
    background: #425470;
    background: linear-gradient(#425470, #5b6d8a);
}

.custom_typecontrol .selected_btn:hover {
    color: #fff;
}

.custom_zoomcontrol {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 36px;
    height: 80px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
}

.custom_zoomcontrol span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.custom_zoomcontrol span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}

.custom_zoomcontrol span:first-child {
    border-bottom: 1px solid #bfbfbf;
}

.MapControlView.accessLocation:hover {
    background-position: -150px -400px;
}

.MapControlView.accessLocation {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 20px 20px 20px;
    background: url(http://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -150px -450px;
}

.MapControlView.body {
    font: 12px/1.5 'Malgun Gothic', '돋움', dotum, sans-serif;
    background: #fff;
    color: #333;
    letter-spacing: -1px;
}

.sidebar {
    display: inline-block;
    position: fixed;
    /* margin: 10px 0 30px 10px; */
    padding: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
    top: 0px;
    bottom: 0;
    left: -2800px;
    width: 400px;
    background: rgb(255, 253, 250);
    height: 950px;
    transition: left 0.5s;
    border : 1px solid #c9c9c9;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
  }
.sidebar::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
  }
.sidebar::-webkit-scrollbar-track {
    background-color: #c9c9c9;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

.sidebar.active {
    left: 347px;
}

.locatedStyle {
    position: fixed;
    right: 10px;
    top: 138px;
    display: block;
    width: 35px;
    height: 35px;
    padding: 20px 20px 20px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -150px -350px;
    border-width: 0px;
}

.searchIcon {
    border-width: 3px;
    font-size: 20px;
    display: none; 
    width: 190px;
    height: 35px;
    margin-left: 90px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/ico_search.png) no-repeat -100px -120px;
    background-position-x: 110px;
}

.parkingIcon {
    position: absolute;
    display: none;
    top: 170px;
    left: 25px;
    border-width: 0px;
    font-size: 10px;
    width: 25px;
    height: 27.1px;
    color: #009900;

    background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -228px -217px;
}

.gasIcon {
    position: absolute;
    display: none;
    top: 170px;
    left: 55px;
    border-width: 0px;
    font-size: 10px;
    width: 25px;
    height: 28px;
    color: #009900;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -208px -217px;

}

.logoText {
    position: absolute;
    top: 10px;
    left: 150px;
    color: #160d69;
    font-size: 30px;

}

.logoText2 {
    position: absolute;
    top: 70px;
    left: 150px;
    color: #160d69;

}

.parkinglotlayer {
    color: #160d69;
}

.logoImage {
    nav-left: 100px;
    border-width: 3px;
    width: 150px;
    height: 150px;
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FZsIjJ%2FbtrZAhhWFv1%2FvvTo9ns0BKB0r5h8z0ZShK%2Fimg.png) no-repeat -10px -20px;

}

.logo {
    width: 150px;
    height: 150px;
    /* margin-right: 12px; */
    /* margin-bottom: 10px; */
}

.parkingname {
    top: 10px;
    text-align: center;
    color: #160d69;
    font-size: 30px;
}

.parkingaddr {
    font-size: 20px;
    color: #160d69;
    text-align: center;
}

.mainstar {
    text-align: center;
    font-size: medium;
}

.ulstyle {
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.gyeong {
    display: inline-block;
    border-right: 2px solid #160d69;
    text-align: center;
    padding: center;
    padding-right: 77px;
    padding-bottom: 140px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hwi {
    margin-left: 60px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

/*            정보 입력창 버튼             ---------------------------- */
.innerbutton {
    border-width: 0px;
}

/* .up {
    background: url(https://blog.kakaocdn.net/dn/oleHY/btrZrTWwNLE/xFHG1FPVraApQFIRMPMf61/img.gif);
    width: 80px;
    height: 80px;
    margin-left: 120px;
    margin-top: -80px;

} */

.lefttext {
    /* display: inline-block; */
    position: absolute;
    left: 77px;
    /*top: 340px;
    font-size: 30px;
    bottom: 50px; */
}

/* .down {
    display: inline-block;
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FwPuS8%2FbtrZre6WjYG%2F2VkU75eFvYDwf2uEwBlG20%2Fimg.png);
    width: 30px;
    height: 30px;
    margin-left: 300px;
    margin-top: -200px;
} */

.righttext {
    /* display: inline-block; */
    position: absolute;
    /* font-size: 30px;
    top: 380px; */
    left: 267px;
}

/* .upup {
    display: inline-block;
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FPj8Z0%2FbtrZqVT5X7K%2F69YwkRnHHEDJ3briW96MhK%2Fimg.png);
    width: 60px;
    height: 60px;
} */

/* .downdown {
    display: inline-block;
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FeDufnR%2FbtrZuGui9Ax%2Ft6S0Y5m8YqXNTdBjsrjLN0%2Fimg.png);
    width: 70px;
    height: 60px;
} */

.smalltext {
    position: absolute;
    /* left: 70px; */
}

/* .smalltext2 {
    position: absolute;
    left: 280px;
} */

.chartshow {
    display: block;
    position: absolute;
}

.review {
    font-size: 50px;
    height: auto;
}

.busan {
    position: absolute;
    top: 110px;
    /* left: 60px; */
    font-size: 20px;
}



.makeMarker {
    position: fixed;
    right: 30px;
    top: 180px;
    display: block;
    width: 120px;
    height: 120px;
    padding: 20px 20px 20px;
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FkKkSb%2FbtrZBswymE9%2FNeYXXnsq79d4Mk6vEl3gKk%2Fimg.png) no-repeat;
}

.closeSidebar {
    background: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbJA4ER%2FbtrZQcf4KIc%2FjxFzGryMcqMRHqg16MKP4K%2Fimg.png)no-repeat 0px 0px;
    width: 100px;
    height: 50px;
    position: fixed;
}




.review1 {
    margin-top: 10px;
    font-size: 20px;
    height: auto;
}

.popupArea {
    margin: 7px;
    display: flex;
    width: 100%;
    height: 30%;
    padding: 5px;
    border-radius: 10px;
}

.reviewInput {
    width: 320px;
    height: 30%;
    padding: 5px;
    border-color: #160d69;
}

.reviewWrite {
    margin-left: 50px;
    border-color: #160d69;
    border-width: 1px;


}

.review2 {
    width: 400px;
    height: 250px;
    text-align: center;
    margin-top: 20px;

}

/* 모달창 */
.reviewBtn,
.closeBtn,
.openBtn {
    background-color: #F9B514;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} */

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* 별점 */
/* component */

.star-rating {
    /* border:solid 1px #ccc; */
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked~label {
    color: #fc0;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #fc0;
}

.openBtn {
    position: absolute;
    right: 20px;
}

#reviewfont {
    font-weight: bold;
    color: #160d69;
}

#myChart {
    margin: 40px 0px;
}

.oil {
    flex-direction: column;
    height: 30%;
}

.oilType span {
    display: block;
    width: 40px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.oilType .btn {
    background: #fff;
    background: linear-gradient(#fff, #e6e6e6);
}

.oilType .btn:hover {
    background: #f5f5f5;
    background: linear-gradient(#f5f5f5, #e3e3e3);
}

.oilType .btn:active {
    background: #e6e6e6;
    background: linear-gradient(#e6e6e6, #fff);
}

.oilType .selected_btn {
    color: #fff;
    background: #425470;
    background: linear-gradient(#425470, #5b6d8a);
}

.oilType .selected_btn:hover {
    color: #fff;
}

.oilType {
    margin-left: 300px;
    right: 10px;
    width: 80px;
    height: 30px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
}
.sigungu{
    width:102px;
}   

.dongs{
    display: block;
    position: absolute;
    width:102px;
    margin-left: 110px;
    top: 165px;
}

.checkbtn{
    display: block;
    position: absolute;
    right: 11px;
    top: 159px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #325573;
    color: rgb(255, 255, 255);
}


.loginbtn{
    display: block;
    position: absolute;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    /* margin-top: -100px; */
    top: 45px;
    left: 160px;
    background-color: #325573;
    color: rgb(255, 255, 255);
}

#region {
    margin-top: 3px;
    margin-bottom: 16px;
}
